html {
  font-family: "Raleway", sans-serif;
}
.logo {
  width: 250px;
  height: 75px;
}

nav {
  display: inline;
  margin: 0 20px 0px 20px;
}
ul {
  list-style: none;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  margin-right: 20px;
  display: inline-block;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

.iconos-carrito {
  margin-left: auto;
}
h1 {
  font-weight: 500;
}
header {
  background-image: url(../img/imagenFondoInicio.png);
  background-repeat: no-repeat;
  height: 50vh;
  color: white;
}

.textoHeader {
  margin-left: 10vw;
  padding-top: 6em;
  font-weight: 500;
}
.buttonHeader {
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1.2em;
  font-size: 0.8em;
}
h1 {
  font-size: 3.5em;
}
.pieHeader {
  text-align: center;
}
.pieHeader ul li {
  margin-right: 20px;
  display: inline-block;
  justify-content: center;
}
.separador {
  border-bottom: 2px solid #eae0d5;
}
.seccionJoyas {
  margin: 50px 10vw 20px 10vw;
}
.seccionJoyas h2 {
  font-weight: 300;
}
.joyas {
  background-color: #eae0d5;
  padding-top: 10px;
}
.joyasLogoBlanco {
  text-align: right;
}
.joyasLogoBlanco img {
  height: 3.5em;
}

.tipoMaterialJoya li,
.estiloJoyas li {
  display: inline;
}
.tipoMaterialJoya {
  margin-bottom: 2em;
  color: #212121aa;
}
.tipoMaterialJoya li {
  margin-right: 4em;
  font-size: 1.8em;
  font-weight: 600;
}
.nuevaColeccion {
  margin: 5vw 13.3vh;
}
.contenedorNuevaColeccion {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
}
.imagenNuevaColeccion {
  background-image: url(../img/nuevaColeccion.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 28vh;
  background-position: start;
}
.imagenNuevaColeccion p {
  font-size: 1.6em;
  font-weight: 600;
  text-align: right;
  padding-right: 1em;
  padding-top: 17.5vh;
}
.joyasNuevaColeccion,
.masJoyas {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.masJoyas .cartasJoyas {
  margin-right: 2rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
}
.cartasJoyas {
  width: 35%;
  padding: 0.8em 0.5em;
  height: 25vh;
  border: 2px solid #e4ad52;
  border-radius: 5px;
  box-shadow: 6px 6px #21212125;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}
.joyasNuevaColeccion img {
  width: 70%;
  height: 90%;
  margin-bottom: 1em;
}
.masJoyas .cartasJoyas img{
    height: 50%;
    width:80%;
}
.detalleJoya p {
  padding: 0;
  font-weight: 300;
  font-size: 1.2em;
  display: inline;
}
.detalleJoya ul {
  justify-content: space-between;
  padding: 0;
  display: flex;
}
.detalleJoya ul li img {
  width: 60%;
  display: inline;
}
.buttonNuevaColeccion{
    display: flex;
    justify-content: center;
}
.nuevaColeccion button{
    margin-top: 2rem;
    text-transform: uppercase;
    padding:1em 4em;
    border: 2px solid #AC8455;
    border-radius: 4px;
    color: #AC8455;
    font-weight: 500;
}
.footer{
    text-align: center;
    background-color: #eae0d5;
    padding: 2em;
}
